*.pkl filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
CheckingFraudster/Dataset/creditcard.csv filter=lfs diff=lfs merge=lfs -text
CheckingFraudster/Dataset/Dataset.zip filter=lfs diff=lfs merge=lfs -text
FraudMITM/Dataset/creditcard.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
